<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="venhaVis">Sobre o Zoológico</h1>
        
        <nav class="menuRedes">
            <a href="/">Home</a></tr>
            <a href="/localizacao">Localização</a></tr>
            <a href="/sobre">Sobre Nós</a></tr>
            <a href="/contato">Contato</a></tr>
    </nav>
    </header>

    <body>
        <div class="bout">
            <h1><b>🌿🦁 Sobre Nós 🦁🌿</b></h1><br>
            <p>Localizado em meio à rica natureza da Mata Atlântica, o <b>Zoológico de Guarulhos</b> é um dos principais espaços de conservação da fauna e lazer da cidade. Inaugurado em 1981, o zoo abriga mais de 400 animais de diversas espécies, incluindo mamíferos, répteis e aves, proporcionando uma experiência educativa e encantadora para visitantes de todas as idades.  
                
                Nosso compromisso vai além da exibição de animais. Trabalhamos ativamente na **preservação da biodiversidade**, no **resgate e reabilitação de espécies** e na **educação ambiental**, promovendo atividades que incentivam a conscientização sobre a importância do meio ambiente.  
                
                Com uma estrutura bem planejada, o zoológico conta com trilhas ecológicas, lagos naturais e espaços interativos que permitem aos visitantes aprender mais sobre a vida selvagem. Além disso, oferecemos visitas monitoradas para escolas e grupos, tornando a experiência ainda mais enriquecedora.  
                
                Seja para um passeio em família, um momento de lazer ou aprendizado, o **Zoológico de Guarulhos** é o destino perfeito para quem deseja se conectar com a natureza e conhecer de perto a riqueza da nossa fauna!  
                <br><br><br>
                <b>📍 Endereço: <br> Rua Dona Glória Pagnoncelli, s/n - Jardim Rosa de França, Guarulhos - SP  <br><br>
                    ⏰ Horário de Funcionamento: <br> Terça a domingo, das 9h às 16h  <br><br>
                    🎟️ Entrada Gratuita </b></p><br>
                
                <h3>Venha nos visitar e descubra um mundo de vida selvagem bem pertinho de você! 🐾🌿</h3>
        </div>
            
    </body>

    <footer class="footer">

        CNPJ: 53.110.609/0001-80
    </footer>
</body>
</html>